<div class="products-container">
  <div class="header">
    <h2>Products</h2>
    <button (click)="openModal()">+</button>
  </div>

  <div class="product-list">
    <div class="product-card" *ngFor="let product of products">
      <img [src]="product.image" alt="product" />
      <div class="details">
        <h3>{{ product.name }}</h3>
        <small>{{ product.description }}</small>
        <small> - {{ product.color }}</small>
        <p>{{ product.price }}$</p>
      </div>
      <div class="actions">
        <button (click)="openModal(product)">✏️</button>
        <button (click)="deleteProduct(product.id)">🗑️</button>
      </div>
    </div>
  </div>

  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <h3>{{ editingProduct ? "Edit" : "Add" }} Product</h3>
      <input [(ngModel)]="formProduct.name" placeholder="Product name" />
      <input [(ngModel)]="formProduct.description" placeholder="Description" />
      <input [(ngModel)]="formProduct.color" placeholder="Color" />
      <input
        [(ngModel)]="formProduct.price"
        type="number"
        placeholder="Price"
      />
      <input [(ngModel)]="formProduct.image" placeholder="Image URL" />
      <button (click)="saveProduct()">Save</button>
      <button (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>
